.project-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.has-text-centered {
  text-align: center;
  font-size: 2rem;
}

.title {
  margin-top: 3%;
  font-size: 3rem;
  padding: 5%;
}
